# Milvus
pymilvus
pymilvus[model]

# datasets
datasets

## Torch and bmeddings
torch
sentence-transformers

## --- Parquet
pandas 
pyarrow

## --- Replicate
replicate

## --- llama-index

llama-index

### embedding models
llama-index-embeddings-huggingface
## llama-index-embeddings-mistralai
## llama-index-embeddings-openai== 0.1.7

### LLM interfaces
llama-index-llms-replicate
## llama-index-llms-mistralai
## llama-index-llms-openai==0.1.12
# llama-index-llms-llama-cpp

### Vector dbs
llama-index-vector-stores-milvus



# --- Utils
python-dotenv==1.0.0

## --- Python Utils
ipykernel
ipython
IProgress
chardet==5.2.0
charset-normalizer==3.3.2