data-prep-toolkit==0.2.3
data-prep-toolkit-transforms[html2parquet]==1.0.0
data-prep-toolkit-transforms[web2parquet]==1.0.0

streamlit
nest_asyncio

## HTML processing
trafilatura

# Milvus
pymilvus

## --- Replicate
replicate

## --- llama-index
llama-index
llama-index-embeddings-huggingface
llama-index-llms-replicate
llama-index-vector-stores-milvus

## utils
humanfriendly
pandas
mimetypes-magic
tqdm
ipykernel
