## For nebius
NEBIUS_API_KEY = 'your api key'
# LLM_MODEL = 'nebius/openai/gpt-oss-120b'
# EMBEDDING_MODEL = nebius/Qwen/Qwen3-Embedding-8B
# EMBEDDING_LENGTH = 4096


## For Replicate
# REPLICATE_API_TOKEN=xyz
# LLM_MODEL = 'replicate/ibm-granite/granite-3.3-8b-instruct'
# EMBEDDING_MODEL = replicate/Qwen/Qwen3-Embedding-8B
# EMBEDDING_LENGTH = 4096

## ------ optional parameters -----


## ----------- Chunking  -----------
# CHUNK_SIZE = 1024
# CHUNK_OVERLAP = 100