data-prep-toolkit-transforms[web2parquet]==1.1.0
data-prep-connector
docling

streamlit
nest_asyncio


# Milvus
pymilvus

## --- Replicate
replicate

## --- llama-index
llama-index
llama-index-embeddings-huggingface
llama-index-llms-replicate
llama-index-vector-stores-weaviate

## utils
humanfriendly
pandas
mimetypes-magic
tqdm
ipykernel
